@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@font-face {
  font-family: 'Maza W00 Regular';
  src: url("https://db.onlinewebfonts.com/t/a3b1110fe381adf2f321bcf81cf79a6c.eot");
  src: url("https://db.onlinewebfonts.com/t/a3b1110fe381adf2f321bcf81cf79a6c.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/a3b1110fe381adf2f321bcf81cf79a6c.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/a3b1110fe381adf2f321bcf81cf79a6c.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/a3b1110fe381adf2f321bcf81cf79a6c.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/a3b1110fe381adf2f321bcf81cf79a6c.svg#Maza W00 Regular")format("svg");
}