@use './mixins';

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  &__link {
    border-radius: 4px;
    padding: 12px;
    & svg {
      fill: #343A3F;
    }
    @include mixins.btn-hover-effect;
    &:hover {
      background-color: #D4D9DD;

    }
    @media (max-width: 1100px) {
      padding: 8px;
    }
  }
}