.lang {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  margin: 0 53px 0 37px;
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 50%;
      transform: translate(50%, 50%);
      width: 1px;
      height: 12px;
      background-color: #343A3F;
    }
  }
  &__type {
    font-size: 1.6rem;
    line-height: 100%;
    color: #343A3F;
    opacity: 0.4;
    text-decoration: none;
    margin: 0 0 5px 0;
    &_active {
      opacity: 1;
    }
  }
}