@use './mixins';

.menu-desk {
  max-width: 1440px;
  width: 100%;
  position: fixed;
  &__wrapper {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 9px 0 11px;
    box-sizing: border-box;
    position: relative;
    transition: 0.2s;
    z-index: 2;
    &-bottom {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-right: 40px;
      @media (max-width: 1100px) {
        margin-right: 20px;
      }
    }
    &.animate {
      transform: translateY(-34.5px);
    }
    &_mob {
      display: none;
      position: relative;
    }
    @media (max-width: 965px) {
      flex-direction: column;
      &_laptop {
        display: none;
      }
      &_mob {
        display: flex;
        padding: 0 20px 20px 20px;
        @media (max-width: 425px) {
          padding-right: 16px;
          padding-left: 16px;
        }
      }
    }
  }
  &__container {
    display: flex;
    width: 100%;
    align-items: center;
  }
  &__logo {
    &-link {
      margin-right: 35px;
      margin-left: 40px;
      @media (max-width: 1100px) {
        margin-right: 20px;
        margin-left: 20px;
      }
      @media (max-width: 965px) {
        margin: 10px 0 10px 0;
      }
    }
    &-img {
      max-width: 80px;
      @media (max-width: 1100px) {
        max-width: 60px;
      }
    }
  }
  &__btn {
    border: none;
    outline: none;
    background-color: #4888FF;
    max-width: 101px;
    width: 100%;
    height: 48px;
    margin: 0 16px 0 0;
    padding: 0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
    & div {
      height: 2px;
      width: 24px;
      border-radius: 1px;
      background-color: #ffffff;
      margin-right: 18px;
      &::after {
        content: '';
        display: block;
        border-radius: 1px;
        background-color: #ffffff;
        height: 2px;
        width: 38px;
        transform: translateY(-10px);
      }
      &::before {
        content: '';
        display: block;
        border-radius: 1px;
        background-color: #ffffff;
        height: 2px;
        width: 38px;
        transform: translateY(8px);
      }
    }
    &:hover {
      opacity: 0.8;
    }
    &.active {
      background-color: #E8E8E8;
      & div {        
        background-color: #E8E8E8;
        &::after {
          background-color: #343A3F;
          transform: rotate(45deg) translateY(-2px);
        }
        &::before {
          background-color: #343A3F;
          transform: rotate(-45deg);
        }
      }
    }
    & div {
      width: 15px;
      height: 1px;
      border-radius: 1px;
      background-color: #ffffff;
      margin-right: 8px;
      &::after {
        content: '';
        display: block;
        border-radius: 1px;
        background-color: #ffffff;
        height: 1px;
        width: 22px;
        transform: translateY(-8px);
      }
      &::before {
        content: '';
        display: block;
        border-radius: 1px;
        background-color: #ffffff;
        height: 1px;
        width: 22px;
        transform: translateY(7px);
      }
    }

    @media (max-width: 1100px) {
      max-width: 80px;
      height: 40px;
    }
    @media (max-width: 965px) {
      margin: 0;
      width: 40px;
      height: 40px;
      border-radius: 4px;
      &.active {
        background-color: #E8E8E8;
        & div {        
          background-color: #E8E8E8;
          &::after {
            background-color: #343A3F;
            transform: rotate(49deg) translateY(-1px);
          }
          &::before {
            background-color: #343A3F;
            transform: rotate(-49deg);
          }
        }
      }
      & div {
        width: 15px;
        height: 1px;
        border-radius: 1px;
        background-color: #ffffff;
        margin-right: 8px;
        &::after {
          content: '';
          display: block;
          border-radius: 1px;
          background-color: #ffffff;
          height: 1px;
          width: 22px;
          transform: translateY(-8px);
        }
        &::before {
          content: '';
          display: block;
          border-radius: 1px;
          background-color: #ffffff;
          height: 1px;
          width: 22px;
          transform: translateY(7px);
        }
      }
      
    }
  }
  &__input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(72, 136, 255, 0.2);
    padding: 4px 4px 4px 24px;
    border-radius: 8px;
    max-width: 654px;
    width: 100%;
    margin-right: 24px;
    overflow: hidden;
    box-sizing: border-box;
    &-btn {
      flex: 0 0 auto;
      border: none;
      outline: none;
      background: #4888FF;
      border-radius: 4px;
      color: #ffffff;
      font-size: 1.4rem;
      line-height: 110%;
      width: 78px;
      height: 40px;
      cursor: pointer;
      transition: 0.2s;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        opacity: 0.8;
      }
      &-icon {
        display: none;
      }
      @media (max-width: 965px) {
        width: 40px;
        &-icon {
          display: block;
        }
        &-text {
          display: none;
        }
      }
    }
    &-form {
      outline: none;
      border: none;
      color: #343A3F;
      font-size: 1.6rem;
      line-height: 110%;
      padding: 0 20px 0 0;
      margin: 0;
      width: 100%;
      overflow: hidden;
      box-sizing: border-box;
      flex: 1 1 auto;
    }
    @media (max-width: 965px) {
      max-width: 100%;
      margin: 0;
    }

  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    &-link {
      border: 1px solid #D3D3D3;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      transition: 0.2s;
      & svg {
        fill: #343A3F;
        transition: 0.2s;
      }
      &:hover {
        border: 1px solid #CDBECD;
        & svg {
          fill: #4888FF;
        }
      }
      @media (max-width: 1100px) {
        width: 40px;
        height: 40px;
      }
    }
    @media (max-width: 965px) {
      gap: 6px;
    }
  }

  &__top {
    width: 100%;
    background-color: #F4F4F4;
    box-sizing: border-box;
    transition: 0.2s;
    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 7px 40px;
      @media (max-width: 1100px) {
        padding-right: 20px;
        padding-left: 20px;
      }
      @media (max-width: 425px) {
        padding-right: 15px;
        padding-left: 15px;
      }
    }
    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 12px;
    }
    &-link {
      font-size: 1.4rem;
      line-height: 110%;
      color: #343A3F;
      transition: 0.2s;
      margin: 2px 0;
      & svg {
        fill: #343A3F;
        transition: 0.2s;
        margin-right: 5px;
      }
      &:hover {
        color: #4888FF;
        & svg {
          fill: #4888FF;
        }
      }
      @media (max-width: 965px) {
        padding-bottom: 15px;
        border-bottom: 1px solid #E8E8E8;
        width: 100%;
        font-size: 1.6rem;
      }
    }
    &-links {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 16px;
      @media (max-width: 965px) {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 40px;
        width: 100%;
        gap: 5px;
      }
    }
    &-schedule {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;
      @media (max-width: 965px) {
        font-size: 1.6rem;
        gap: 6px;
      }
    }
    &-time {
      font-size: 1.4rem;
      line-height: 110%;
      color: #343A3F;
    }
    &.hidden {
      transform: translateY(-100%);
    }
  }

  &__bottom {
    padding: 0 40px 24px 155px;
    opacity: 1;
    transition: 0.3s;
    position: absolute;
    transform: translateY(75px);
    width: 100%;
    background-color: #ffffff;
    box-sizing: border-box;
    &.hide {
      opacity: 0;
      transform: translateY(-10px);
      z-index: -1;
    }
    &-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1245px;
      width: 100%;
      position: relative;
    }
    @media (max-width: 1275px) {
      padding-left: 40px;
      transform: translateY(80px);
    }
    @media (max-width: 1185px) {
      padding-left: 20px;
      padding-right: 20px;
    }
    @media (max-width: 1100px) {
      transform: translateY(75px);
    }
  }

  &__catalog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 901px;
    gap: 18.5px;
    &-link {
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 11px 13px;
      @include mixins.btn-hover-effect;
      outline: none;
      border: none;
      cursor: pointer;
      & svg {
        opacity: 0.5;
        fill: #4888FF;
      }
      &.active {
        color: #4888FF;
        & svg {
          opacity: 1;
          fill: #4888FF;
        }
      }
      @media (max-width: 1100px) {
        font-size: 1.4rem;
        padding: 11px 8px;
      }
    }
    @media (max-width: 1185px) {
      gap: 12px;
    }
  }
  &__build-link {
    @include mixins.btn-hover-effect;
    color: #4888FF;
    padding: 10.5px 6px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    &-text {
      margin-bottom: 5px;
      margin-left: 7px;
    }
    &:hover {
      background-color: #4888FF;
      color: #ffffff;
    }
  }
  &-top_mob {
    display: none;
  }

  @media (max-width: 965px) {
    &-top_laptop {
      display: none;
    }
    &-top_mob {
      display: block;
    }
  }
}

.menu-mob {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;  
  &__top-link {
    font-size: 1.6rem;
    line-height: 110%;
    color: #343A3F;
  }
  &__overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 4;
    top: 135px;
    &.hide {
      display: none;
    }
  }
  &__catalog {
    width: 100%;
    max-height: calc(100vh - 206px);
    overflow-y: auto;
    position: absolute;
    top: 135px;
    height: 100vh;
    z-index: 5;
    &-start {
      padding: 24px 16px;
      background-color: #ffffff;      
      &.hide {
        display: none;
      }
    }      
    &.hide {
      display: none;
    }
  }
  &__left-side {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  &__contacts {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 8px;
  }
  &-top-info {
    display: flex;
    flex-direction: column;
  }
  &__main {
    margin-top: 24px;
    &-list {
      padding: 0;
      margin: 0 0 24px;
      display: flex;
      flex-direction: column;
      list-style: none;
      gap: 10px;
    }
    &-item {
      background-color: #F4F4F4;
      border-radius: 6px;
      &-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 12px;
        box-sizing: border-box;
        position: relative;
        border: none;
        outline: none;
        background-color: #F4F4F4;
        border-radius: 6px;
        gap: 16px;
        &_arrow {
          &::before {
            content: "";
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url(../img/right.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%;
            right: 6px;
            top: 50%;
            transform: translateY(-50%);
          }
        }        
      }
      &-text {
        font-size: 1.6rem;
        line-height: 110%;
        color: #343A3F;
        margin-bottom: 5px;
      }
      &-number {
        font-size: 1.6rem;
        line-height: 110%;
        color: #343A3F;
        opacity: 0.5;
      }
    }
    &-heading {
      font-size: 2rem;
      line-height: 110%;
      color: #343A3F;
      display: flex;
      align-items: center;
      gap: 30px;
      background: none;
      outline: none;
      border: none;
      margin-bottom: 24px;
    }
    &-menu {
      &.hide {
        display: none;
      }
    }
    &-submenu {
      display: none;
      z-index: 5;
      &.open {
        display: block;
      }
    }
    &-subwrapper {
      padding: 0 16px;
    }
  }
}

