.popup-catalog {
  display: none;
  position: absolute;
  top: 65px;
  transition: 0.2s;
  filter: drop-shadow(0 0 10px rgba(157, 157, 157, 0.35));
  width: 100%;
  &.open {
    display: block;
  }
  &_sales {
    max-width: 892px;
  }
  &_gifts {
    max-width: 757px;
    left: 50%;
    transform: translateX(-50%);
  }
  &_events {
    max-width: 204px;
    right: 45%;
    transform: translateX(50%);
  }
  &-events {
    &__wrapper {
      display: flex;
      background-color: #ffffff;
      padding: 24px;
      border-radius: 8px;
    }
  }
  &__wrapper {
    width: 100%;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 338px repeat(2, 1fr);
    column-gap: 40px;
    padding: 30px 0 23px 0;
    border-radius: 8px;
  }
  &__col {
    display: flex;
    flex-direction: column;
  }
  &__submenu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
    &-item {
      border-bottom: 1px solid #F3F3F3;
      width: 100%;
      cursor: pointer;
      &-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 13px 20px 13px 30px;
        box-sizing: border-box;
        transition: 0.2s;
        position: relative;
        & svg {
          fill: #4888FF;
          opacity: 0.5;
          transition: 0.2s;
        }
        &_arrow {
          &::before {
            content: '';
            position: absolute;
            width: 24px;
            height: 24px;
            background-image: url(../img/right.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 100% 100%;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        &:hover {
          background-color: #F3F3F3;
          &::before {
            background-image: url(../img/right-active.png);
          }
          & svg {
            opacity: 1;
          }
        }
        &.selected {
          background-color: #F3F3F3;
          &::before {
            background-image: url(../img/right-active.png);
          }
          & svg {
            opacity: 1;
          }
        }
      }
      &-text {
        font-size: 1.6rem;
        line-height: 110%;
        margin-left: 16px;
        color: #343A3F;
        margin-bottom: 5px;
      }
      // &-arrow {
      //   width: 24px;
      //   height: 24px;
      //   object-fit: cover;
      //   margin-left: auto;
      // }
    }

  }
  &__heading {
    color: #343A3F;
    font-size: 3rem;
    line-height: 110%;
    margin-bottom: 22px;
  }
}

.submenu-categories {
  padding: 0;
  margin: 0;
  list-style: none;
  &__item {
    padding: 8px 0;
    margin: 0;
    font-size: 1.6rem;
    line-height: 110%;
  }
  &__link {
    color: #343A3F;
    transition: 0.2s;
    position: relative;
    display: inline-block;
    width: 100%;
    transition: 0.2s;
    &:hover {
      color: #4888FF;
      & .submenu-categories__count {
        opacity: 1;
        color: #4888FF;
      }
      &::before {
        background-image: url(../img/right-arrow-light.png);
      }
    }
    &_arrow {
      &::before {
        content: '';
        position: absolute;
        width: 24px;
        height: 24px;
        background-image: url(../img/right.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
        right: 20px;
        top: 60%;
        transform: translateY(-50%);
      }
    }
  }
  &__count {
    opacity: 0.5;
    transition: 0.2s;
  }
}